flow.json
[
    {
        "id": "d3bafc4d888d1327",
        "type": "tab",
        "label": "Planta Local",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e80ba914f330e4bf",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Ingreso de Datos HMI",
        "style": {
            "label": true
        },
        "nodes": [
            "6affae2739636fd4",
            "e80a19e4ef29647c",
            "ef27165957a2a7ce",
            "9837c6631b22c877",
            "497bb3a5985ccf6a",
            "43afa594f96c4de1",
            "b31d9258d5457c6b",
            "d01294d76e015e0e",
            "2597d26d4122589d"
        ],
        "x": 14,
        "y": 19,
        "w": 842,
        "h": 242
    },
    {
        "id": "214bb5bb7c3c748a",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Grafica de Tendencia",
        "style": {
            "label": true
        },
        "nodes": [
            "2cc3886a218bfd36",
            "bacdb831509bd076",
            "5e13ef0e251ac89f",
            "86657a338622ef8d",
            "b577870f2cd9ac34",
            "b1fa050b3d65483f",
            "13c685b07e0ef3f5",
            "b83f462fe9fc336a"
        ],
        "x": 874,
        "y": 19,
        "w": 592,
        "h": 182
    },
    {
        "id": "4e95e1e89e159a2c",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Planta",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "40028da2e5251bd1",
            "3dfcc44a8bb60a4c",
            "41bafb6a9265fe18",
            "ce084a61d788b557",
            "a66b3bd8b9f29456",
            "b233bbf463efa21f"
        ],
        "x": 14,
        "y": 279,
        "w": 1212,
        "h": 142
    },
    {
        "id": "46ca1a28cf2e749b",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "MQTT Recepcion",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c1a6fea6327391ca",
            "5c23878488aed3ae"
        ],
        "x": 8,
        "y": 433,
        "w": 1244,
        "h": 234
    },
    {
        "id": "c1a6fea6327391ca",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "46ca1a28cf2e749b",
        "name": "Enviar data a la Nube",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "6b4aadc25a0128ce",
            "ccad51975c96c09f",
            "e0a986db8a783db1",
            "0d5261c134f74a45",
            "8df15cca59401082"
        ],
        "x": 34,
        "y": 459,
        "w": 652,
        "h": 142
    },
    {
        "id": "5c23878488aed3ae",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "46ca1a28cf2e749b",
        "name": "Recepcion de Data en la nube",
        "style": {
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "6ef40822acc1f687",
            "c07e0ab3c77a38dd",
            "82f9927c64ddf655",
            "8bd789448cb5ebb2",
            "26b63247279de23d"
        ],
        "x": 694,
        "y": 459,
        "w": 532,
        "h": 182
    },
    {
        "id": "5aaaf04bcb7e61c3",
        "type": "ui_tab",
        "name": "Principal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83028f5fc4af6c91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a6eb8721741008d0",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "b0b5f6d17e4ee7ed2f3d765054e8785e02f5583d8b130eef6e704d8fd403d4ae-certificate.pem.crt",
        "keyname": "b0b5f6d17e4ee7ed2f3d765054e8785e02f5583d8b130eef6e704d8fd403d4ae-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "2cfeb892b2531fe4",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "a2jc4862ggr0zs-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "a6eb8721741008d0",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d656154329cc3bca",
        "type": "ui_group",
        "name": "Pantalla",
        "tab": "5aaaf04bcb7e61c3",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48d7616710ecee0d",
        "type": "ui_group",
        "name": "Configuracion",
        "tab": "5aaaf04bcb7e61c3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cc3886a218bfd36",
        "type": "ui_chart",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "group": "d656154329cc3bca",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Tendencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "3",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bacdb831509bd076",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "Limpiar Grafica",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "2cc3886a218bfd36"
            ]
        ]
    },
    {
        "id": "5e13ef0e251ac89f",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "bacdb831509bd076"
            ]
        ]
    },
    {
        "id": "86657a338622ef8d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "Grafica",
        "func": "// adquision de variables\nvar setPoint_Presion = global.get('setPoint_Presion')||-2;\nvar presion = global.get('presion')||-2;\nif(setPoint_Presion != -2 && presion != -2){\n    var msg = {};\n    var msg1 = {};\n    msg.payload = setPoint_Presion;\n    msg.topic = 'SetPoint Presión';\n    msg1.payload = presion;\n    msg1.topic = 'Presión';\n    node.status({fill:\"green\",shape:\"dot\",text:setPoint_Presion + ' psi'});\n    return [msg, msg1];\n}else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"No Data\"});\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 60,
        "wires": [
            [
                "2cc3886a218bfd36",
                "13c685b07e0ef3f5"
            ],
            [
                "2cc3886a218bfd36",
                "b83f462fe9fc336a"
            ]
        ]
    },
    {
        "id": "b577870f2cd9ac34",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1030,
        "y": 60,
        "wires": [
            [
                "86657a338622ef8d"
            ]
        ]
    },
    {
        "id": "b1fa050b3d65483f",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "group": "d656154329cc3bca",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar Tendencia",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 160,
        "wires": [
            [
                "bacdb831509bd076"
            ]
        ]
    },
    {
        "id": "6affae2739636fd4",
        "type": "ui_slider",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "label": "SetPoint de Presión",
        "tooltip": "",
        "group": "48d7616710ecee0d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "200",
        "max": "250",
        "step": "1",
        "className": "",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "9837c6631b22c877",
                "497bb3a5985ccf6a"
            ]
        ]
    },
    {
        "id": "e80a19e4ef29647c",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "group": "48d7616710ecee0d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aceptar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "43afa594f96c4de1",
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "ef27165957a2a7ce",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "group": "48d7616710ecee0d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rechazar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "d01294d76e015e0e",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "Inicializar Variables",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "2597d26d4122589d",
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "2597d26d4122589d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "function 2",
        "func": "var setPoint_Presion = global.get('setPoint_Presion')||-2;\nif(setPoint_Presion == -2){\n    global.set('setPoint_Presion',1);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9837c6631b22c877",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SetPoint_PID_Presion_AUX",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "497bb3a5985ccf6a",
        "type": "ui_text",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "group": "48d7616710ecee0d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SetPoint Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "43afa594f96c4de1",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "setPoint_Presion",
                "pt": "global",
                "to": "SetPoint_PID_Presion_AUX",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b31d9258d5457c6b",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "setPoint_Presion",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "6affae2739636fd4"
            ]
        ]
    },
    {
        "id": "13c685b07e0ef3f5",
        "type": "debug",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 60,
        "wires": []
    },
    {
        "id": "b83f462fe9fc336a",
        "type": "debug",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 160,
        "wires": []
    },
    {
        "id": "40028da2e5251bd1",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "PID",
        "func": "//definicion de la clase PID\nclass PIDController {\n    constructor(Kp, Ki, Kd, minOutput = 0, maxOutput = 1) {\n        // Inicialización de las ganancias PID\n        this.Kp = Kp;\n        this.Ki = Ki;\n        this.Kd = Kd;\n\n        // Inicialización de las variables de estado\n        this.previousError = 0; // Error anterior\n        this.integral = 0;      // Integral acumulada\n\n        // Limites de la salida\n        this.minOutput = minOutput;\n        this.maxOutput = maxOutput;\n    }\n\n    // Método para actualizar las ganancias del PID\n    updateGains(Kp, Ki, Kd) {\n        this.Kp = Kp;\n        this.Ki = Ki;\n        this.Kd = Kd;\n    }\n\n    // Método para calcular el control PID\n    compute(reference, output) {\n        // Calcular el error\n        const error = reference - output;\n\n        // Calcular la parte proporcional\n        const P = this.Kp * error;\n\n        // Acumular el error para la parte integral\n        this.integral += error;  // Acumulación de error\n        const I = this.Ki * this.integral;\n\n        // Calcular la parte derivativa\n        const D = this.Kd * (error - this.previousError);\n\n        // Guardar el error actual para el siguiente ciclo\n        this.previousError = error;\n\n        // Salida sin escalización\n        let rawOutput = P + I + D;\n\n        // Escalizar la salida entre 0 y 1 (usando recorte o mapeo lineal)\n        let scaledOutput = this.scaleOutput(rawOutput);\n\n        return scaledOutput;\n    }\n\n    // Método para escalar la salida\n    scaleOutput(rawOutput) {\n        // Recorte de la salida entre el rango [0, 1]\n        return Math.min(Math.max(rawOutput, this.minOutput), this.maxOutput);\n    }\n}\n\n// codigo a utilizar\n// USO del controlador PID\nvar pid = new PIDController(0.00000001, 0.1, 0.0);  // Inicializamos el PID con algunas ganancias\n\nvar reference = global.get('setPoint_Presion')||0;  // Valor deseado (referencia)\nvar output = global.get('presion') || 0;  //// Salida inicial del sistema\n \nvar controlSignal = pid.compute(reference, output);\nmsg.payload = controlSignal; //retornar la salida de la accion de control de 0 a 1\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Accion de control \" + controlSignal});\nfunction acotarADecimales(num, decimales = 4) {\n    return parseFloat(num.toFixed(decimales));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "41bafb6a9265fe18"
            ]
        ]
    },
    {
        "id": "3dfcc44a8bb60a4c",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "1s",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "a66b3bd8b9f29456"
            ]
        ]
    },
    {
        "id": "41bafb6a9265fe18",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "Escalizacion de la Frecuencia",
        "func": "function escalarARPM(valor, rpmMin = 800, rpmMax = 1200) {\n    // Aplicar la fórmula para escalar el valor\n    var rpm = rpmMin + valor * (rpmMax - rpmMin);\n    // Redondear el valor de RPM al número entero más cercano\n    return Math.round(rpm);\n}\nvar entradaPID = msg.payload;\nmsg.payload = escalarARPM(entradaPID,800,1200);\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Entrada :\" + entradaPID + ' Salida : ' + msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "ce084a61d788b557"
            ]
        ]
    },
    {
        "id": "ce084a61d788b557",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "Planta Real",
        "func": "// definicion de variables internas de la discretizacion\nvar yk1 = context.get('yk1','memoryOnly')||0;\nvar yk2 = context.get('yk2','memoryOnly')||0;\nvar uk = msg.payload;//entrada de la salida de frecuencia\nvar uk1 = context.get('uk1','memoryOnly')||0;\nvar uk2 = context.get('uk2','memoryOnly')||0;\n\n//var yk = 1.2315e-5*uk + 2.4629e-5*uk1 + 1.2315e-5*uk2 + 1.9702*yk1 - 0.9704*yk2 ; // con tiempo de 0.01s\nvar yk = 0.0417*uk + 0.0833*uk1 + 0.0417*uk2 + 0.3333*yk1 + 0*yk2 ; // con tiempo de 1s\nyk = acotarADecimales(yk,4);\n//guardar los estados anterirores\ncontext.set('yk2',yk1,'memoryOnly');\ncontext.set('yk1',yk,'memoryOnly');\ncontext.set('uk2', uk1,'memoryOnly');\ncontext.set('uk1', uk,'memoryOnly');\ncontext.set('uk',uk,'memoryOnly');\nnode.status({fill:\"blue\",shape:\"dot\",text:\"PIP \" + yk});\nglobal.set('presion',yk);\n// monitoreo de las variables\ncontext.set('monitoreo', {uk, yk},'memoryOnly');\n\nfunction acotarADecimales(num, decimales = 4) {\n    return parseFloat(num.toFixed(decimales));\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6b4aadc25a0128ce",
        "type": "mqtt out",
        "z": "d3bafc4d888d1327",
        "g": "c1a6fea6327391ca",
        "name": "",
        "topic": "device/MQTTBroker/entrada",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2cfeb892b2531fe4",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "ccad51975c96c09f",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "c1a6fea6327391ca",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "e0a986db8a783db1"
            ]
        ]
    },
    {
        "id": "e0a986db8a783db1",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "c1a6fea6327391ca",
        "name": "Estructurar Data",
        "func": "// adquision de variables globales\nvar presion = global.get('presion')||0;\nvar setPoint_Presion = global.get('setPoint_Presion')||0;\n\nvar ctr = context.get('ctr', 'memoryOnly') || 0;\nctr++;\nif (ctr > 10) {\n    ctr = 0;\n}\nnode.status({ fill: \"red\", shape: \"ring\", text: \"ctr \" + ctr });\ncontext.set('ctr', ctr, 'memoryOnly');\n\nmsg = {\n    'payload':{\n        presion,\n        setPoint_Presion,\n        ctr\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "0d5261c134f74a45",
                "6b4aadc25a0128ce"
            ]
        ]
    },
    {
        "id": "0d5261c134f74a45",
        "type": "debug",
        "z": "d3bafc4d888d1327",
        "g": "c1a6fea6327391ca",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    },
    {
        "id": "8df15cca59401082",
        "type": "comment",
        "z": "d3bafc4d888d1327",
        "g": "c1a6fea6327391ca",
        "name": "",
        "info": "tutoriales de donde se saco\nhttps://www.youtube.com/watch?v=oedCiDnIV14&list=PL5_Rrj9tYQAml3cNxw4rlAJL-QyEoNG8b&index=6",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ef40822acc1f687",
        "type": "mqtt in",
        "z": "d3bafc4d888d1327",
        "g": "5c23878488aed3ae",
        "name": "",
        "topic": "device/MQTTBroker/entradaNUBE",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2cfeb892b2531fe4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 860,
        "y": 520,
        "wires": [
            [
                "c07e0ab3c77a38dd",
                "82f9927c64ddf655"
            ]
        ]
    },
    {
        "id": "c07e0ab3c77a38dd",
        "type": "debug",
        "z": "d3bafc4d888d1327",
        "g": "5c23878488aed3ae",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 500,
        "wires": []
    },
    {
        "id": "82f9927c64ddf655",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "5c23878488aed3ae",
        "name": "Guardar Data",
        "func": "var data = msg;\nvar ctr = data.payload.ctr\ncontext.set('monitoreo', data, 'memoryOnly');\nglobal.set('ctr', ctr, 'memoryOnly');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8bd789448cb5ebb2",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "5c23878488aed3ae",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "26b63247279de23d"
            ]
        ]
    },
    {
        "id": "26b63247279de23d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "5c23878488aed3ae",
        "name": "Status Server",
        "func": "//adquision del valor de contador\nvar ctr = global.get('ctr','memoryOnly') || 0;\nvar ctr1 = context.get('ctr1')||0;\nvar ctr2 = context.get('ctr2')||0;\nvar ctr3 = context.get('ctr3')||0;\nvar statusServer = false;\n\n// identificacion de status del servidor\nif (ctr != ctr1 && ctr != ctr2 && ctr != ctr3){\n    statusServer = true;\n}\n\n//condiciones del colore\nvar color = 'red';\nif(statusServer){\n    color = 'green';\n}\n\n\nnode.status({ fill: color, shape: \"ring\", text: ' status Server ' + statusServer + \" ctr \" + ctr });\n// guardando los estados anteriores\ncontext.set('ctr3',ctr2);\ncontext.set('ctr2',ctr1);\ncontext.set('ctr1',ctr);\n//guardando el estado de status server\nglobal.set('statusServer',statusServer,'memoryOnly');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a66b3bd8b9f29456",
        "type": "switch",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "status Server",
        "property": "#:(memoryOnly)::statusServer",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "40028da2e5251bd1"
            ],
            [
                "b233bbf463efa21f"
            ]
        ]
    },
    {
        "id": "b233bbf463efa21f",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "4e95e1e89e159a2c",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 380,
        "wires": [
            [
                "ce084a61d788b557"
            ]
        ]
    }
]